@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

@media print {
    .non-printable{
        display: none !important;
    }
}