.my-table > table {
  /* table-layout: fixed; */
  width: 100%;
  border-collapse: collapse;
}

.my-table > table th,td {
  vertical-align: top;
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-align: left;
  padding: 0.8rem 0 !important;
  word-break: break-word;
  word-wrap: break-word;
  padding: 1rem 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
